<% if @priorities.empty? %>

<div class="small_content">
None of your constituents are members of White House 2 yet. We're still new, give us time!
<p>You can still tap into our network and <%= link_to "request research", new_research_url %>, or search our <%= link_to "briefing room", :controller => "briefing" %>.
</div>

<% else %>

<div class="small_content">
	Here are the priorities <i><b>less popular</b></i> with your <%= pluralize(current_legislator.constituents_count, "constituent") %> than the rest of the country.
</div>
<div class="smaller_content">
	<p>Also see priorities <%= link_to "more popular", more_popular_priorities_url %> with your constituents or <%= link_to "all priorities", priorities_url %>.
</div>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right" style="padding-right: 12px;"><span class="table_header">Rank</span></td>
		<td colspan="2">&nbsp;</td>
	</tr>
<% for priority in @priorities %>
	<tr>
		<td valign="top" align="right">
			<div class="priority_position">
			<%= priority.position %>	
			</div>
		</td>
		<td valign="top" align="right">
			<div class="loser">
			<%= number_to_percentage(priority.national_difference*100, :precision => 0) %>	
			</div>
		</td>		
		<td valign="top" style="padding-bottom: 5px; padding-left: 5px;">
			<div class="priority_name"><a href="<%= priority.url %>"><%= priority.name %></a></div>
			<div class="priority_numbers">
				<%= priority_sentence(priority) %>
			</div>
		</td>
	</tr>
<% end %>
</table>

<p>
<%= will_paginate(@priorities) %>

<div class="xml_footer">
These priorities are also available in <span style="position:relative; top: 2px;"><%= image_tag "feed-icon-14x14.png", :size => "14x14" %></span> <%= link_to "RSS", :format => "rss" %> and <%= link_to "XML", :format => "xml" %>.
</div>

<% end %>