<h1>New legislator</h1>

<% form_for(@legislator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :party %><br />
    <%= f.text_field :party %>
  </p>
  <p>
    <%= f.label :govtrack_id %><br />
    <%= f.text_field :govtrack_id %>
  </p>
  <p>
    <%= f.label :constituents_count %><br />
    <%= f.text_field :constituents_count %>
  </p>
  <p>
    <%= f.label :last_crawled_at %><br />
    <%= f.datetime_select :last_crawled_at %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', legislators_path %>
