<table border="0" cellspacing="0" cellpadding="0">
	<tr><td valign="top" width="520">
<p>
<table border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="right" style="padding-right: 5px;"><span class="table_header">Rank</span></td>
		<td style="padding-left: 3px;"><span class="table_header">Wk</span></td>
		<td style="padding-left: 3px;"><span class="table_header">Mo</span></td>
	</tr>
<% for priority in @priorities %>
	<tr>
		<td valign="top" align="right">
			<div class="priority_position">
			<%= priority.position %>	
			</div>
		</td>
		<%= render :partial => "priorities/rank_yday_month", :locals => {:priority => priority} %>
		<td valign="top" style="padding-bottom: 5px; padding-left: 5px;">
			<div class="priority_name"><a href="<%= priority.url %>"><%= priority.name %></a></div>
			<div class="priority_numbers">
				<%= priority_sentence(priority) %>
			</div>
		</td>
	</tr>
<% end %>
</table>

<p>
<%= will_paginate(@priorities) %>

	</td><td valign="top" width="400" style="padding-left: 50px;">
		<p>
		<h3>Meet <%= @legislator.constituents_count %> of your constituents</h3>
		<table border="0" cellspacing="0" cellpadding="0">
			<tr>
			<% columns = 0 %>
			<% @legislator.constituents.in_groups_of(5, '&nbsp;') do |row| %>
				<% columns += 1 %>
				<% if columns < 3 %>
				<td valign="top" style="padding-right: 10px;">
					<table border="0" cellspacing="0" cellpadding="0">
					<% for user in row %>
						<tr><td valign="top" style="padding-bottom: 5px;">
							<%= render :partial => "shared/user_pic", :locals => {:user => user} %>
							</td><td valign="top">
								<div class="user_name">
								<a href="<%= user.url %>"><%= user.login %></a>
								<span class="pc"><%= user.capitals_count %>pc</span>
								</div>
							</td>
						</tr>
					<% end %>
					</table>
					</td>
				<% end %>
			<% end %>
			</tr>
		</table>
	</td></tr>
</table>