<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "Hello, Congress." %></title>
	<%= render :partial => "shared/javascripts" %>
	<% if @rss_url %>
		<link rel="alternate" type="application/rss+xml" title="<%= @page_title %>" href="<%= @rss_url %>">
	<% end %>
</head>
<body>

<div align="center">
<div id="container">

	<div id="search_form">
	<%= render :partial => "legislators/form" %>
	</div>

	<div id="header">
		<% if current_legislator %>
			<h1>Hello <%= current_legislator.lastname_with_title %>,</h1>
		<% else %>
			<h1>Hello Congress,</h1>
		<% end %>
		<div id="tagline">We're your constituents, and we're here to serve <i>you</i>.</div>
	</div>
	
	<%= flash_div :warning, :notice, :error %>
	
	<%= render :partial => "shared/nav" %>

	<div id="content">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td valign="top" width="600">

			<%= yield :layout %>

		</td><td valign="top" width="300" style="padding-left: 50px;">

			<div id="wh2_box">
			<a href="http://whitehouse2.org/">White House 2</a> is a bipartisan network of over 8,000 citizens imagining how the White House might work if it was run completely democratically by thousands of people over the internet.  <a href="http://whitehouse2.org/signup">All U.S. citizens can join.</a>
			<p>
			<div align="center">
			<a href="http://whitehouse2.org/"><%= image_tag "wh2-logo.png", :border => 0 %></a>
			</div>		
			<p>We're setting <a href="http://whitehouse2.org/priorities/top">priorities</a>, collaborating on policy, and creating a massive database of <%= link_to "talking points", :controller => "briefing" %> covering all sides of every important issue facing our country.
			<p>
			</div>
			
		</td></tr>
	</table>
	</div>

</div>
</div>

</body>
</html>
