<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title || "Hello, Congress." %></title>
	<%= render :partial => "shared/javascripts" %>
	<%= stylesheet_link_tag "screen","jquery.bt" %>
	<% if @rss_url %>
		<link rel="alternate" type="application/rss+xml" title="<%= @page_title %>" href="<%= @rss_url %>">
	<% end %>
</head>
<body>

<div align="center">
<div id="container">

	<div id="search_form">
	<%= render :partial => "legislators/form" %>
	</div>

	<div id="header">
		<% if current_legislator %>
			<h1>Hello <%= current_legislator.lastname_with_title %>,</h1>
		<% else %>
			<h1>Hello Congress,</h1>
		<% end %>
		<div id="tagline">We're your constituents, and we're here to serve <i>you</i>.</div>
	</div>
	
	<%= render :partial => "shared/nav" %>

	<%= flash_div :warning, :notice, :error %>

	<div id="content">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr><td valign="top" width="600">

			<%= yield :layout %>

		</td><td valign="top" width="300" style="padding-left: 50px;">

			<div id="legislator_info" title="Contact <%= current_legislator.lastname_with_title %> and tell <% if current_legislator.gender == 'F' %>her<% else %>him<% end %> about Hello Congress.">
				<table border="0" cellspacing="0" cellpadding="0">
					<tr><td valign="top">
						<img src="http://www.govtrack.us/data/photos/<%= current_legislator.govtrack_id %>-50px.jpeg" width="50" border="0" align="left" />
 						</td><td valign="top" style="padding-left: 8px;">
							<% if current_legislator.attribute_present?("webform") %>
								<a href="<%= current_legislator.webform %>"><%= current_legislator.name_with_title %></a> <span class="party"><%= current_legislator.party %>-<%= current_legislator.state %></span><br/>
							<% else %>
								<%= current_legislator.name_with_title %> <span class="party"><%= current_legislator.party %>-<%= current_legislator.state %></span><br/>
							<% end %>
							<% if current_legislator.attribute_present?("phone") %>
								<%= current_legislator.phone %>
								<% if current_legislator.attribute_present?("twitter_id") %>
									or <a href="http://twitter.com/home?status=<%= CGI.escape(current_legislator.tweet) %>">send a tweet</a>.
								<% end %>
								<br/>
							<% end %>
							<%= legislator_websites(current_legislator) %>
						</td>
					</tr>
				</table>
			</div>
			
			<% if params[:controller] != 'subscriptions' %>
				<div id="subscribe_box">
					<%= render :partial => "subscriptions/form", :locals => {:subscription => Subscription.new} %>
				</div>
			<% end %>

			<div id="wh2_box">
				<%= render :partial => "shared/wh2_intro" %>
			</div>
			
			<div id="hc_box">
				<%= render :partial => "shared/hc_intro" %>
			</div>
			
		</td></tr>
	</table>
	</div>

</div>
</div>

<%= render :partial => "shared/analytics" %>

</body>
</html>
